        #button1{
           color:green;
        }
        .button2{
           color: red;
        }
        #bag{
            border-radius:10px ;
            border: none;
            padding-top: 5px;
            padding-right: 15px;
            padding-bottom: 5px;
            padding-left: 15px;
            background-color:lightgreen;
        }
        #wish-list{
            border-radius: 10px;
            border: 2px solid black;
            padding-top: 5px;
            padding-right: 35px;
            padding-bottom: 5px;
            padding-left: 35px;
            
        }